language: haskell
before_install:
  - wget -q -O - http://llvm.org/apt/llvm-snapshot.gpg.key | sudo apt-key add -qq -
  - sudo apt-get update -qq
  - sudo apt-get install -f -qq llvm-3.4 llvm-3.4-dev libclang-common-3.4-dev libclang-3.4-dev
install:
  - cabal install -v0 --only-dependencies --enable-tests --force-reinstalls
script:
  - cabal configure -v0 --enable-tests && cabal build -v0 && cabal test --show-details=always
env:
  - LD_LIBRARY_PATH=/usr/lib/llvm-3.4/lib/

notifications:
  email: false
