language: haskell
before_install:
  - sudo add-apt-repository -y ppa:h-rayflood/llvm
  - sudo apt-get update -qq
  - sudo apt-get -f install llvm-3.3-dev libclang-common-dev libclang-dev
  - dpkg -L llvm-3.3-dev libclang-common-dev libclang-dev

notifications:
  email: false
